body{
    background-color:  rgba(7, 17, 38);

}

.titre{
    text-align: center;
    font-style: italic;
    color: ivory;
    background: rgba(255, 255, 255, 0);
}

/* Bannière titre */

div.col0{
    background-color: rgb(27, 27, 27);
}

div.ligne0{
    border: 0px solid black;
}


/* Grille de la page */

#slogan{
    height: 200px; /* hauteur du parent */
    line-height: 200px; /* hauteur de ligne (identique) */
}



div.box1{
    background-color: rgb(224, 218, 162);
    color: rgb(41, 0, 0);
}

div.box2{
    background-color: rgb(255, 255, 255);
}

div.box3{
    background-color: rgb(66, 7, 17);
}

.angleterre{
    width:100%;
    height:100%;
}

.dessin{
    width: 100%;
    height: 100%;
}



/* Pied de page */

footer {
    background-color:rgba(7, 17, 38);
    color: white;
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;

}

.logolinkedin{
    height: 40px;
    width:40px;
    padding: 10px;
}

.logofacebook{
    height: 40px;
    width: 40px;
    padding: 10px;
}